*{
    padding: 0;
    margin: 0;
    font-family: 'Clash Display';
    color: black;
    --main-bg-color: rgb(166, 227, 233);
    scroll-behavior: smooth;    
}
@font-face {
    font-family: 'Clash Display';
    src: url(ClashDisplay_Complete/ClashDisplay_Complete/Fonts/TTF/ClashDisplay-Variable.ttf);
}
body{
    width: 100vw;
    height: 100%;
    overflow-x : hidden;
    display: flex;
    flex-direction: column;
}
/* CONTAINER POUR LE CHARGEMENT DU SITE */
.container-chargement{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cercle-chargement{
    position: absolute;
    width: 10vh;
    height: 10vh;
    border: solid transparent .25vw;
    border-radius: 50%;
    border-top-color: white;
    animation: chargement 1s linear infinite;
}
@keyframes chargement {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* BOUTON RETOUR  */
#retour{
    z-index: 1000;
    width: 2vh;
    height: 5vh;
    border-radius: 0% 10% 10% 0%;
    position: fixed;
    left: 0;
    top: 7vh;
    background-color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease;
}
#retour > a{
    color: white;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#retour:hover {
    width: 6vh;
}

#box1{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.box2{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
}
.left{
    width: 60vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header{
    width: 60vw;
    height: 6.18vh;
    position: fixed;
    top: 0;
    font-size: 1.8rem;
    background-color: white;
    z-index: 999;
}

#cv-header{
    display: none;
}

nav{
    height: 100%;
    width: 100%;
}
nav>ul{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* TITRE */
.titre{
    display: flex;
    flex-direction: column;
    /* margin-left: 20%; */
    width: 100%;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    height: 40vh;
    z-index: 998;
}
/* INFO */
.info{
    height: 20vh;
}
.info>ul{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}
.info>ul>li{
    display: flex;
    flex-direction: row;
}
.info-p{
    font-weight: 600;
    margin-right: 6.18%;
}

/* DROITE */
.right{
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: var(--main-bg-color);
}
.header-right{
    width: 40vw;
    height: 6.18vh;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.8rem;
    background-color: var(--main-bg-color);
    z-index: 999;
}
.cv{
    background-color: black;
    color: white;
    padding: 0.5rem;
    margin-right: 6.18%;
}
#image-shelby{
    position: sticky;
    top: 5%;
    /* min-width: 33%; */
    max-width: 50%;
    height: auto;
    margin-left: -5vw;
    margin-top: 20%;
}

/* ABOUT */
.box-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-about{
    margin-top: 5vh;
    width: 61.8%;
    display: flex;
    flex-direction: column;
}

.box-skills{
    margin: 5vh 0;
    width: 61.8%;
    display: flex;
    flex-direction: column;
}

/* BOX 3 */
.box3{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#box-hobbit{
    margin-top: 2vh;
    width: 61.8%;
    padding: 0.8rem;
}

#image-thomas{
    margin: 2vh;
}

/* BALISES */
h1{
    font-size: clamp(1.8rem, calc(7vw + 1rem), 5rem);
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
p{
    font-size: 2rem;
    font-weight: 300;
}
span{
    font-weight: 400;
}

/* FIN */
#return{
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 3%;
    height: auto;
    cursor: pointer;
}



@media (min-width: 992px){

    .box-about{
        margin-left: 10%;
    }
    .box-skills{
        margin-left: 10%;
    }


}
@media (max-width: 992px){

    .right{
        display: none;
    }
    .left , header{
        width: 100%;
    }
    #cv-header{
        display: block;
    }
    header{
        font-size: 1.2rem;
    }
    .box-about{
        width: 90%;
        justify-content: center;
        box-sizing: border-box;
        margin: 2.5vh auto;
    }
    .box-skills{
        width: 90%;
        justify-content: center;
        box-sizing: border-box;
        margin: 2.5vh auto;
    }
    #box-hobbit{
        width: 90%;
    }
    p{
    font-size: 1.8rem;
    }
    h1{
    font-size: clamp(1.8rem, calc(7vw + 1rem), 5rem);
    }   
    h2{
        font-size: 1.8rem;
    }
    h3{
        font-size: 1.8rem;
    }

}

@media (max-width: 767px){

    .box3{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }    
    header{
        font-size: 0.8rem;
    }
    p{
        font-size: 1.3rem;
    }
    h1{
        font-size: clamp(1.8rem, calc(7vw + 1rem), 5rem);
    }   
    h2{
        font-size: 1.7rem;
    }
    h3{
        font-size: 1.6rem;
    }

}
